<div class="container">
  <h1 class="center-align">Nouveau ticket</h1>
  <div class="alert-rules">
    <ul>
      <li>Soyez polis, respectueux</li>
      <li>N'abusez pas du langage SMS</li>
      <li>Aucun acte d'agression n'est toléré : insulte, racisme, sexisme etc...</li>
      <li>Vérifiez l'existence d'un ticket similaire au votre avant de poster</li>
      <li>Il est interdit de tenter d'une manière ou d'une autre de nuire à l'intégrité du site</li>
      <li>Il est interdit de publier ou renvoyer vers des images à caractère pornographique.</li>
    </ul>
  </div>

  <%= render 'form', discussion: @ticket %>
</div>