/* ------- COLORS VARIABLES ------- */

$black: #3A4149;
$dark-black: #262626;
$orange: #FFC107;
$white: #cfcfcf;
$light-white: #fff;
$grey: #767579;
$green: #4CAF50;
$red: #F86C6B;

/* ------- TRANSITION VARIABLES ------- */
$duration-short: 0.5s;

/*-------------------------
FONT-SIZE
-------------------------*/
$low-font-size: 0.8em;